{% extends "../base/base.html" %}

{% block content %}
    <div class="container py-5">
        <div class="overflow-hidden card table-nowrap table-card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <h5 class="mb-0" style="padding-top: 0.5rem">Product</h5>
                    <a type="button" class="btn btn-sm" href="{% url 'product-create' %}">
                        <i class="bi bi-plus-circle-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0 table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Category</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr id="item-{{ product.id }}">
                            <td>{{ product.name }}</td>
                            <td>{{ product.slug }}</td>
                            <td>{{ product.category.name|default:"" }}</td>
                            <td>
                                <a type="button" class="btn btn-sm btn-success"
                                   href="{% url 'product-update' product.id %}">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <button type="button" class="btn btn-sm btn-danger"
                                        hx-delete="{% url 'product-delete' product.id %}"
                                        hx-target="#item-{{ product.id }}"
                                        hx-swap="outerHTML"
                                        hx-confirm="Are you sure you want to delete this item?"
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if page_obj is not null %}
                {% include "../base/pagination.html" with page_obj=page_obj %}
            {% endif %}
        </div>
    </div>

    <div id="modal_create"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}