asgiref==3.11.1
black==26.5.1
click==8.4.2
Django==5.2.14
django-custom-admin-pages==1.2.7
django-extensions==4.1
django-htmx==1.27.0
djangorestframework==3.17.1
dotenv==0.9.9
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
python-dotenv==1.2.2
pytokens==0.4.1
ruff==0.15.13
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.15.0
