{% load custom_tags %}
{% define_menu_array as arr_menu %}

<div class="d-flex flex-column flex-shrink-0 p-3 min-vh-100 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Dershop</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for menu in arr_menu %}
            {% if menu.child %}
                <li class="nav-item">
                    <a href="#submenu{{ forloop.counter0 }}" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                        {{ menu.label }}
                    </a>
                    <ul class="collapse nav flex-column ms-3" id="submenu{{ forloop.counter0 }}">
                        {% for menu_child in menu.child %}
                            <li>
                                <a href="{{ menu_child.url }}"
                                   class="nav-link py-1 {% if request.path == menu_child.url %}active{% endif %} rounded text-white">{{ menu_child.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ user.full_name }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Log Out</button>
                </form>
            </li>
        </ul>
    </div>
</div>